{
  "plugins": [
    "babel-plugin-convert-jsx-extension-to-js",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    "@babel/preset-react"
  ],
 "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
      ]
    }
  }
}
